input, button {
    padding: 20px;
    margin: 2em;
    border: dotted 2px rgb(13, 110, 253);
}
input:hover, button:hover {
    cursor: pointer;
    background-color:rgb(13, 110, 253);
}
div.col-md-6 {
    margin-top: 50px;
}
h1 {
    margin: 50px;
    padding: 20px;
    font-weight: bold;
    border: solid black;
}
#parentExplanation {
    text-align: left;
    padding: 10%;
}
#list {
    padding-bottom: 50px;
    border-right: solid black;
}
.container-fluid {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgb(227, 236, 250);
    box-shadow: 10px 10px 8px #888888;
    border: solid 1px gray;
}
td {
    border:1px solid black;
}
#tableCard {
    text-align: center;
    box-shadow: 10px 10px 8px #888888;
    border: 1px solid black;
    max-width: 600px;
    margin: 20px;
}
#lists {
    display: none;
    justify-content: space-evenly;
}
#button, #button2 {
    display: none;
}



